body {
background-color: #6495ed; /* #CCFFCC;*/
font-familly: Verdana, Arial, sans-serif;
font-size: medium;
color: black;
margin: auto;
padding: 0;
}

#container {
background:#6495ed; /*url(back.jpg) repeat;*/
color:black;
/*width: 1200px;*/
/*
margin: auto;
border-right: 1px solid #000;
border-left: 1px solid #000; 
padding: 500;
float: left;
margin-left: 5%; 
margin-right: 5%;*/ 
}

#main_container {
display: inline-block;
border-radius: 20px;
background:white; /*url(back.jpg) repeat;*/
color:black;
margin: auto;
border: 2px solid blue;
/*float: left;*/
}

#help_container {
background:white; /*url(back.jpg) repeat;*/
color:black;
border: 2px solid blue;
width: 1200px;
margin: auto;
/*
margin: auto;
border-right: 1px solid #000;
border-left: 1px solid #000;
padding: 500;
*/
/*margin-left: 5%;
margin-right: 5%;*/
}

#grb_container {
background:white; /*url(back.jpg) repeat;*/
color:black;
border: 2px solid blue;
width: 1200px;
margin: auto;
/*
margin: auto;
border-right: 1px solid #000;
border-left: 1px solid #000;
padding: 500;
*/
/*margin-left: 5%;
margin-right: 5%;*/
}

#histo_container {
background:white; /*url(back.jpg) repeat;*/
color:black;
border: 2px solid blue;
width: 1200px;
margin: auto;
/*
margin: auto;
border-right: 1px solid #000;
border-left: 1px solid #000; 
padding: 500;
*/
/*margin-left: 5%; 
margin-right: 5%;*/ 
}

#corr_container {
background:white; /*url(back.jpg) repeat;*/
color:black;
border: 2px solid blue;
width: 1200px;
margin: auto;
/*
margin: auto;
border-right: 1px solid #000;
border-left: 1px solid #000;
padding: 500;
*/
/*margin-left: 5%;
margin-right: 5%;*/
}

#control_container{
    border: 2px solid #6495ed;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /*margin: 0; /*18px 0 3px 0;*/
    padding: 5px 5px 5px 5px;
    font-size: 120%;
    font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
    text-align:left;
    /*font-weight: bold;*/
    color:  Blue; /*#fff;*/
    /*following three lines wrap measurement list to three columns*/
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    /* background: LightSteelBlue;
       border-bottom: 1px solid blue; */
    /*position:fixed;*/
}

#table_container{
    /*position:fixed;*/
}

#content {
background: white; /*url(back.jpg) repeat;*/
color: black;
margin: auto;
border: 2px solid blue;
/*width:1150px;*/
/* float: right; */
/* border-right: 1px solid #E2E5B6; */
}

#footer {
background-color: #6495ed; /*url(navigationpages.jpg) repeat top left;*/
/*clear: both;*/
padding: 10px 20px;
margin: 0;
color: #ffffff; /*#BBB;*/
font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
font-size: 120%;
text-align:center;
font-weight: bold;
/*position:fixed;*/
}

.input {
    border: 1px solid #000;
    background: LightSteelBlue;
    color: SlateBlue;
    width:50px;
    font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
    font-size: 65%;
    vertical-align: middle;
}

.inputText {
    border: 1px solid #000;
    background: LightSteelBlue;
    color: SlateBlue;
    width:160px;
    font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
    font-size: 60%;
    vertical-align: middle;
}


.center { 
margin: auto; 
}

form { 
display: block; 
margin-left: auto; 
margin-right: auto; 
}

img { 
display: block; 
margin-left: auto; 
margin-right: auto; 
}

h1{
background: #6495ed; /*url(navigationpages.jpg) repeat top left;*/
margin: 0;
padding: 15px 25px 15px 25px;
font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
font-size: 300%;
font-weight: bold;
color: #ffffff;
text-align:center;
/*position:fixed;*/
}

h2{
margin: 0; /*18px 0 3px 0;*/
padding: 5px 5px 5px 5px;
font-size: 200%;
font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
text-align:center;
/* font-weight: bold; */
color:  royalblue; /*#fff;*/
/* border-style:solid; */
/* border-width:3px; */
/* background: LightSteelBlue;
   border-bottom: 1px solid blue; */
}

h3{
margin: 0; /*18px 0 3px 0;*/
padding: 5px 5px 5px 5px;
font-size: 150%;
font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
text-align:left;
font-weight: bold;
color:  MediumSlateBlue; /*#fff;*/
/* background: LightSteelBlue;
   border-bottom: 1px solid blue; */
}

h4{
    margin: 0; /*18px 0 3px 0;*/
    padding: 5px 5px 5px 5px;
    font-size: 100%;
    font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
    text-align:left;
    font-weight: bold;
    color:  MediumSlateBlue; /*#fff;*/
}

p{
    margin: 0; /*18px 0 3px 0;*/
    padding: 5px 5px 5px 5px;
    font-size: 150%;
    font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
    text-align:center;
    font-weight: bold;
    color:  MediumSlateBlue; /*#fff;*/
    /* background: LightSteelBlue;
       border-bottom: 1px solid blue; */
}

p.question 
{
/* border-style:solid;
border-width:3px; */
}

.select_styles { 
border: 1px solid #000; 
/* font-size: 14px; */ 
/*color: Chartreuse;*/
color: SlateBlue;
font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
font-size: 65%;
/*background: SlateGray;*/
background: LightSteelBlue;
padding: 5px;
vertical-align: middle;
}

/* Use http://css-tricks.com/examples/ButtonMaker/# */
.button {
   border-top: 1px solid #96d1f8;
   background: #70baeb;
   background: -webkit-gradient(linear, left top, left bottom, from(#4a4eba), to(#70baeb));
   background: -webkit-linear-gradient(top, #4a4eba, #70baeb);
   background: -moz-linear-gradient(top, #4a4eba, #70baeb);
   background: -ms-linear-gradient(top, #4a4eba, #70baeb);
   background: -o-linear-gradient(top, #4a4eba, #70baeb);
   padding: 2.5px 3px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 80%;
   font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
   text-decoration: none;
   vertical-align: middle;
   }
   
.button:hover {
   border-top-color: #797dc4;
   background: #797dc4;
   color: #ccc;
   }
   
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.button2 {
    border-top: 1px solid #96d1f8;
    background: #70baeb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4a4eba), to(#70baeb));
    background: -webkit-linear-gradient(top, #4a4eba, #70baeb);
    background: -moz-linear-gradient(top, #4a4eba, #70baeb);
    background: -ms-linear-gradient(top, #4a4eba, #70baeb);
    background: -o-linear-gradient(top, #4a4eba, #70baeb);
    padding: 1.5px 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 80%;
    font-family: "Comic Sans MS", "Arial", "BrushDom", "Caeldera";
    text-decoration: none;
    vertical-align: middle;
}

.button2:hover {
    border-top-color: #797dc4;
    background: #797dc4;
    color: #ccc;
}

.button2:active {
    border-top-color: #1b435e;
    background: #1b435e;
}


/* Use http://css-tricks.com/examples/ButtonMaker/# */


/* Table Styles */

table
{
   border-collapse:collapse;
   border:2px solid LightSteelBlue;
}
table, td, th
{
   border:2px solid LightSteelBlue;
}

.table_style {
   border-collapse:collapse;
   border:2px solid LightSteelBlue;
   text-align:center;
   margin-left: auto; 
   margin-right: auto;
   width:98%;
}

.table_title {
   background: LightSteelBlue;
   border:2px solid LightSteelBlue;
}

.table_button {
    background: white;
    border:2px solid LightSteelBlue;
}

.row1 {
   background: #EDF3FE;
   border:1px solid LightSteelBlue;
}

.row2 {
   background: white;
   border:1px solid LightSteelBlue;
}

.checkbox, .radio {
    width: 25px;
    height: 25px;
    padding: 0 5px 0 0;
    /*background: #ffffff no-repeat;*/
    display: block;
    clear: left;
    float: left;
}
.radio {
    background: blue no-repeat;
}
.select {
    position: absolute;
    width: 158px;
    height: 21px;
    padding: 0 24px 0 8px;
    color: #6495ed;
    font: 12px/21px arial,sans-serif;
    /*background: blue no-repeat;*/
    overflow: hidden;
}
