{% extends "base.html" %}

{% block title %}grbcatalog.org GPOSE Simulation{% endblock %}

{% block reload %}  {% endblock %}

{% block content %}

<div id="gpose_container">

<h2>GPOSE Simulation</h2>

<hr>

<form action="{%url 'gpose_sim_page'%}">
    <p>Enter Simulation Parameters</p>

        <table class='table_style'>
            <tr class='table_title'>
                <th>Parameter</th>
                <th>Units</th>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {% for item in sim_parameters %}
            <tr class={% cycle 'row1' 'row2' %}>
                <td class="td_style">{{ item.0 }}</td>
                <td class="td_style">{{ item.1 }}</td>
                <td class="td_style">{{ item.2 }}</td>
                <td class="td_style"><input type="text" class="input" name="{{ item.2 }}" value="{{ item.3 }}"></td>
            </tr>
            {% endfor %}
        </table>
        <p></p>
    <hr>

    <p>
        X Scale:
        <input type="text" class="input" name="x_min" value="{{x_min}}">
        <input type="text" class="input" name="x_max" value="{{x_max}}">
        X Log Scale:
        {% if x_log == "True" %}
            <input type="checkbox" name="x_log" value="True" checked>
        {% else %}
            <input type="checkbox" name="x_log" value="True">
        {% endif %}

        Y Scale:
        <input type="text" class="input" name="y_min" value="{{y_min}}">
        <input type="text" class="input" name="y_max" value="{{y_max}}">
        Y Log Scale:
        {% if y_log == "True" %}
            <input type="checkbox" name="y_log" value="True" checked>
        {% else %}
            <input type="checkbox" name="y_log" value="True">
        {% endif %}
        Scale:
        <input type="text" class="input" name="scale" value="{{scale}}">
        <br>

        Custom Labels:
        {% if c_label == "True" %}
            <input type="checkbox" name="c_label" value="True" checked>
        {% else %}
            <input type="checkbox" name="c_label" value="True">
        {% endif %}

        X Label:
        <input type="text" class="inputText" name="x_label" value="{{x_label}}">
        Y Label:
        <input type="text" class="inputText" name="y_label" value="{{y_label}}">
        Title:
        <input type="text" class="inputText" name="title" value="{{title}}">

        <p>
        <input type="submit" class="button" value="Simulate and Plot">
        </p>
        <hr>
    </p>
</form>

<img src="{%url 'gpose_sim_plot'%}?title={{title}}&x_label={{x_label}}&y_label={{y_label}}&y_min={{y_min}}&y_max={{y_max}}&x_min={{x_min}}&x_max={{x_max}}&x_log={{x_log}}&y_log={{y_log}}
{% for item in sim_parameters %}&{{item.2}}={{item.3}}{% endfor %}&scale={{scale}}"  align="middle" width="960" height="560" alt="Plot is Loading... Please wait...">

<p>
    <a href="{%url 'gpose_sim_plot'%}?title={{title}}&x_label={{x_label}}&y_label={{y_label}}&y_min={{y_min}}&y_max={{y_max}}&x_min={{x_min}}&x_max={{x_max}}&x_log={{x_log}}&y_log={{y_log}}
{% for item in sim_parameters %}&{{item.2}}={{item.3}}{% endfor %}&plot_type=pdf&scale={{scale}}" class="button">Save as PDF</a>
    <a href="{%url 'grb_main_page'%}" class="button">Go to grbcatalog.org</a>
</p>

<p></p>

<hr>

<p>Simulation Results</p>

<table class='table_style'>
    <tr class='table_title'>
        <th>Parameter</th>
        <th>Units</th>
        <th>Value</th>
    </tr>
    {% for item in sim_results %}
    <tr class={% cycle 'row1' 'row2' %}>
        <td class="td_style">{{ item.0 }}</td>
        <td class="td_style">{{ item.1 }}</td>
        <td class="td_style">{{ item.2 }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

</div><!--corr_container-->

{% endblock %}

{% block footer%}

grbcatalog

{% endblock%}
