{% extends "base.html" %}

{% block title %}grbcatalog.org GRB Page{% endblock %}

{% block reload %}  {% endblock %}

{% block content %}


<div id="grb_container">
<p></p>
<h2>GRB {{ grb_name }}</h2>
<p></p>
<table class='table_style'>
    <tr class='table_title'>
        <th>Measurement</th>
        <th>Value</th>
        <th></th>
    </tr>
    {% for item in measurement_data %}
    <tr class={% cycle 'row1' 'row2' %}>
        <td class="td_style">{{ item.0 }}</td>
        <td class="td_style">{{ item.1 }}</td>
        <td class="td_style"><a href="{%url 'grb_main_page'%}admin/grb/measurement/{{item.2}}/" class="button2" target="_blank">Modify</a></td>
    </tr>
    {% endfor %}
</table>
<p></p>
</div><!--grb_container-->

{% endblock %}

{% block footer%}

grbcatalog.org

{% endblock%}

